{% extends "pages/base.html" %}
{% load static %}
{% block title %}Thống kê{% endblock  %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/plot.css' %}"/>
<style>
  #viewport{
    display: None;
  }
</style>
<div class="container">
  <div class="content">
    <div class="row form-plot">
      <form action="plot" method="POST">
        {% csrf_token %}
        <select class="custom-select" name="plot_field" id="plot_field">
            <option selected>- Chọn trường thống kê -</option>
            <option value="dia_chi">Địa chỉ</option>
            <option value="gioi_tinh">Giới tính</option>
            <option value="tn_dh">Tốt nghiệp đại học</option>
            <option value="hoc_vi">Học vị</option>
            <option value="hoc_ham">Học hàm</option>
            <option value="nam_tn_dh">Năm tốt nghiệp đại học</option>
            <option value="nam_tn_ch">Năm tốt nghiệp cao học</option>
            <option value="nam_tn_ts">Năm tốt nghiệp tiến sĩ</option>
            <option value="tn_ts">Tốt nghiệp tiến sĩ</option>
        </select>
        <button class="btn btn-plot">Thống kê</button>
    </form>
  </div>
  <div class="container">
    <div class="head-thumbnail">
        <h1 style ="margin: 45px 0;">Thống kê</h1>
    </div>
    <div class="row col-md-8 justify-content-center">
      <canvas id="plot" data-url="{% url 'plot' %}"></canvas>
    </div>
  </div> 
</div>
</div>





<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'bar',
      data: {
        datasets: [{
          
          backgroundColor: '#449c87',
          data: {{ data|safe }},
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: true,
        legend: {
          position: 'top',
        },
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('plot').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };


    {% comment %} $(function () {

      var $hocviChart = $("#plot");
      $.ajax({
        url: $hocviChart.data("url"),
        success: function (data) {

          var ctx = $hocviChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'học vị',
                backgroundColor: 'blue',
                data: data.data
              }]          
            },
            options: {
              responsive: true,
              legend: {
                position: 'bottom',
              },
              title: {
                display: true,
                text: 'Thống kê học vị'
              }
            }
          });

        }
      });

    }); {% endcomment %}

  </script>
{% endblock %}